<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.musicshop/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.musicshop.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="CountInstruments.browse"
              caption="msg://com.company.musicshop.screen.countinstruments/countInstrumentsBrowse.menu"/>
        <item screen="Instrument.browse" caption="msg://com.company.musicshop.screen.instrument/instrumentBrowse.menu"/>
        <item screen="Customer.browse" caption="msg://com.company.musicshop.screen.customer/customerBrowse.menu"/>
        <item screen="Cart.browse" caption="msg://com.company.musicshop.screen.cart/cartBrowse.menu"/>
        <item screen="Order_.browse" caption="msg://com.company.musicshop.screen.order/orderBrowse.menu"/>
    </menu>

</menu-config>